MOCK_RECEIVER_HOST=0.0.0.0
MOCK_RECEIVER_PORT=8002
MOCK_RECEIVER_PUBLIC_BASE=https://mach2.disyepd.com/receiver-mock/fhir
MOCK_RECEIVER_DEFAULT_TASK_STATUS=requested
MOCK_RECEIVER_REQUIRE_BEARER_TOKEN=true
MOCK_RECEIVER_NUTS_INTERNAL_BASE=http://nuts-node:8083
MOCK_RECEIVER_INTROSPECTION_TIMEOUT=10
MOCK_RECEIVER_REQUIRED_SCOPE=eOverdracht-receiver
MOCK_RECEIVER_LOG_LEVEL=INFO
